{%extends 'Albums/base.html' %}
{%load staticfiles%}
{%block cssFiles%}
	<link rel='stylesheet' type='text/css' href ="{%static "Albums/css/Albums.css"%}"/>
{%endblock%}

{%block header%}
	<button class="button-header pure-button" ><a href='{%url 'Albums:viewAllAlbums' %}'>View Albums</a></button>
	<button class="button-header pure-button" ><a href='/'>Home</a></button>
{%endblock%}

{%block content%}
	{%block metadata%}
		{% if metadata %}
			<div class='row col-md-12' id='metadata'>
				<h2> Title: {{metadata.title}}</h2>
				<p><h3> Description: {{metadata.description}} </h3></p>
			</div>
		{%endif%}
	{%endblock%}
	<div id='imagePreview' class='row col-md-12'>
		{% if previewPhotos %}
			<ul class='rig columns-4'>
				{%for img, albumUID, title, desc in previewPhotos%}
					<li>
						<a href="{% url 'Albums:viewAlbum' albumUID %}"> <img src= {{ img }} /></a>
						<h3> {{title}} </h3>
						<p>  {{desc}} </p>
					</li>
				{%endfor%}
			</ul>
		{%elif images%}
			<ul class='rig columns-4'>
				{% for img in images %}
					<li>
						<img  src= {{ img }} />
					</li>
				{% endfor %}
			</ul>
		{% elif empty %}
			<div>
				<h2>{{ empty }}</h2>
			</div>
		{% elif error%}
			<div>
				<h2>{{ error }}</h2>
			</div>
		{% endif %}
	</div>
{%endblock%}