{%extends 'Albums/base.html' %}
{%load staticfiles%}
{%block cssFiles%}
<link rel='stylesheet' type='text/css' href ="{%static "Albums/css/Albums.css"%}"/>
{%endblock%}
{%block scripts%}
	<script src="{%static "js/isotope.pkgd.min.js"%}"></script>
	<script src="{%static "js/cells-by-row.js"%}"></script>
	<script src = "{%static "Albums/js/FileManager.js"%}"></script>
	<script>
		$(document).ready(function(){
			FileManager.setUpIsotope($("#imagePreview"));
		});
	</script>
{%endblock%}
{%block content%}
	{%block metadata%}{%endblock%}
	<div id='imagePreview' class='row col-md-12'>
		{% if previewPhotos %}
			{%for img, albumUID in previewPhotos%}
				<div>
					<a href="{% url 'Albums:viewAlbum' albumUID %}"> <img class='photo' src= {{ img }} /></a>
				</div>
			{%endfor%}
		{% else %}
			{% for img in images %}
				<div>
					<img class='photo' src= {{ img }} />
				</div>
			{% endfor %}
		{% endif %}
	</div>
{%endblock%}