#imagePreview{
	height:100%;
	padding-top: 5px;
}
#metadata{
	margin-left:2.5%;
}
/*
.photo {
  position: relative;
  float: left;
  width: 150px;
  margin: 5px;
  padding: 10px;
}*/

ul.rig{
	list-style: none;
	font-size: 0px;
	margin-left: -2.5%; /* should match li left margin */
}

ul.rig li {
	display: inline-block;
	padding: 10px;
	margin: 0 0 2.5% 2.5%;
	background: #fff;
	border: 1px solid #ddd;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-shadow: 0 0 1px #ddd;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
ul.rig.columns-4 li {
	width: 22.5%; /* this value + 2.5 should = 25% */
}
ul.rig li img {
	max-width: 100%;
	height: auto;
	margin: 0 0 10px;
}

ul.rig li h3 {
	margin: 0 0 5px;
}

ul.rig li p {
	font-size: .9em;
	line-height: 1.5em;
	color: #999;
}